window, .header {
  background: #0F141A;
  color: #EEE;
}

.footer {
  padding: 16px;
}
.footer label {
  color: #EEE;
}

.user-watchlist {
  background: #0F141A;
  color: #EEE;
}

.user-watchlist-card {
  padding: 32px;
  background: #161D26;
}
